/* mobile-first! */

@use 'util/variables';
@use 'util/mixins';

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: variables.$body-fonts;
  text-align: center;
  margin: 0;
}

.header-container {
  @include mixins.use-flex(center, center, column);
}

.header {
  width: 100%;
  padding: 2rem;
  @include mixins.use-flex(center, center, column);
  flex-grow: 1;
  & > * {
    padding: 1rem 0;
  }
  &--start {
    background: #f2f2f2;
  }
  &--determined {
    background: #fbfbfb;
  }
}

.filler { // on desktops, take up entire left side of page
  width: 35vw;
  position: fixed;
  left: 0;
  min-height: 100%;
  background-color: #f2f2f2;
  z-index: -1;
}

.classification {
  font-size: 4.5rem;
}

.description {
  font-style: italic;
  font-size: .9em;
}

main {
  background: white;
  width: 65vw;
}

.heading {
  font-weight: 500;
  &--largest {
    font-size: 3rem;
    margin: 0 auto;
  }
  &--second-largest {
    font-size: 1.25rem;
  }
}

.form__input {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form__div {
  &--temp-grid,
  &--rain-grid {
    display: grid;
    & > * {
      border: variables.$indiv-input-border;
      margin: 0;
    }
  }
  &--temp-grid {
    grid-template: repeat(12, 1fr) / repeat(2, 1fr);
    & > * {
      padding: .25rem;
    }
  }
  &--rain-grid {
    grid-template: repeat(12, 1fr) / repeat(1, 1fr);
    & > * {
      padding: .5rem;
    }
  }
}

.fieldset {
  width: 97%;
  margin: 2vh auto;
  &--rain {
    width: 65%;
  }
}

.one-side {
  display: inline-block;
  padding: .25rem;
  & > * {
    display: inline-block;
    padding: .1rem;
  }
}

.bottom-button {
  display: inline-block;
  width: 30vw;
  height: 10vh;
  border-radius: 5px;
  margin: 1rem 1rem 2rem;
  background: rgb(254,254,254);
  font-size: 1rem;
  font-family: variables.$body-fonts;
}

.hidden { // credit: https://allyjs.io/tutorials/hiding-elements.html#how-to-hide-elements-semantically
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* class colors taken from Wikipedia (https://en.wikipedia.org/wiki/K%C3%B6ppen_climate_classification) */

.A {
  &f {
    color: #0000fe;
  }
  &m {
    color: #0077ff;
  }
  &w {
    color: #46a9fa;
  }
}

.B {
  &W {
    &h {
      color: #fe0000;
    }
    &k {
      color: #fe9695;
    }
  }
  &S {
    &h {
      color: #f5a301;
    }
    &k {
      color: #ffdb63;
    }
  }
}

.C {
  &s {
    &a {
      color: #ebeb0e; // changed from #ff0 to make it more readable on a white-ish background
    }
    &b {
      color: #c6c700;
    }
    &c {
      color: #969600;
    }
  }
  &w {
    &a {
      color: #92f092; // changed from #96ff96 to make it more readable on a white-ish background
    }
    &b {
      color: #63c764;
    }
    &c {
      color: #329633;
    }
  }
  &f {
    &a {
      color: #baed4e; // changed from #c6ff4e to make it more readable on a white-ish background
    }
    &b {
      color: #64ed37; // changed from #6f3 to make it more readable on a white-ish background
    }
    &c {
      color: #33c701;
    }
  }
}

.D {
  &s {
    &a {
      color: #ff00fe;
    }
    &b {
      color: #c600c7;
    }
    &c {
      color: #963295;
    }
    &d {
      color: #966495;
    }
  }
  &w {
    &a {
      color: #abb1ff;
    }
    &b {
      color: #5a77db;
    }
    &c {
      color: #4c51b5;
    }
    &d {
      color: #320087;
    }
  }
  &f {
    &a {
      color: #0ee8e8; // changed from #0ff to make it more readable on a white-ish background
    }
    &b {
      color: #38c7ff;
    }
    &c {
      color: #007e7d;
    }
    &d {
      color: #00455e;
    }
  }
}

.E {
  &T {
    color: #b2b2b2;
  }
  &F {
    color: #686868;
  }
}

@media (max-width: 767px) {
  .header-container {
    height: 100%;
  }
  main {
    width: 100vw;
  }
  /* .fieldset--rain {
    width: 65vw;
  } */
}

@media (min-width: 768px) {
  body {
    display: flex;
  }
  .header-container {
    width: 35vw;
  }
}